@{
    ViewBag.Title = "Index";
}

<h3>Department</h3>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Save Department", "SaveDepartment", "Department")</li>
        <li>@Html.ActionLink("View Department", "ViewDepartment", "Department")</li>
        <li>@Html.ActionLink("Save Teacher", "SaveTeacher", "Department")</li>
    </ul>
</div>