
@{
    ViewBag.Title = "Index";
}

<h3>Student</h3>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Register", "Save", "Student")</li>
        <li>@Html.ActionLink("Save Result", "SaveResult", "Enroll")</li>
        <li>@Html.ActionLink("View Result", "ViewStudentResult", "Student")</li>
        <li>@Html.ActionLink("Enroll", "Save", "Enroll")</li>
    </ul>

</div>

