
@{
    ViewBag.Title = "Allocate Classroom";
}

<h3>Class Room Manager</h3>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Allocate Classroom", "AllocateClassroom", "University")</li>
        <li>@Html.ActionLink("View Schedule", "ShowClassSchedule", "ClassRoom")</li>
        <li>@Html.ActionLink("Unallocate Classroom", "UnAllocateClassRoom", "ClassRoom")</li>
    </ul>

</div>