@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. <a href="@Url.Action("Index","Home")" class="btn btn-primary">Back to home</a></h2>

