
@{
    ViewBag.Title = "Enroll";
}

<h2>Enroll Course</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Enroll Course", "Save", "Enroll")</li>
        <li>@Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
    </ul>

</div>
